main {
	display: flex;
}
.calculator {
	width: 655px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(6, 100px);
	grid-gap: 4px;
	background-color: #1b1b1b;
}

.display {
	grid-column: 1 / -1;
	height: 200px;
	width: 100%;
	margin: 0px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	height: 100%;
}
.display > div {
	width: 100%;
	text-align: right;
}

.display #top-display {
	height: 40%;
	height: 40%;
	background-color: #000000;
	color: #f8f8f8;
	font-size: 2rem;
}
.display #bottom-display {
	color: #f8f8f8;
	background-color: #1b1b1b;
	height: 60%;

	font-size: 2.5rem;
	line-height: 50px;
	font-weight: 600;
}

section button {
	/* border-radius: 10px; */
	border: none;
	background-color: #333333;
	color: #f8f8f8;
	font-size: x-large;
	outline: none;
}
section button:hover {
	background-color: #dd8c01;
	transition-duration: 0.8s;
}

#zero {
	grid-column: span 2;
}

#results {
	background-color: #1b1b1b;
	font-size: 1.2rem;
	font-weight: lighter;
	width: 220px;
	height: 622px;
}

.result-card {
	width: 200px;
	padding: 10px;
	color: #f8f8f8;
	background-color: #333333;
	word-wrap: break-word;

	margin-bottom: 15px;
}
